<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>One Time Password for Owner Registration</h1><hr>
    <p>
      OTP for oNew Owner Registration is : <h1> <%= @otp %> </h1>.<br>
    </p>
  </body>
</html>